.home {
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

.home-title {
  width: 90%;
  margin: auto;
  padding: 75px 50px;
}

.home-title h1 {
  font-size: 9vw;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.home-title p {
  font-size: 2vw;
  text-align: left;
  margin: 0;
}

.span-home {
  color: #5a8179;
  font-weight: bold;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-wrap: nowrap;
}

.home-links {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 50px;
}

.home-links a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.home-links a svg{
  width: 40px;
  height: 40px;
}

.home-links-bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.home-links-bottom a{
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 480px) { 

  .home-title {
    width: 90%;
    padding: 75px 0px;
  }

  .home-title h1 {
    font-size: 12vw;
    text-align: center;
  }

  .home-title p {
    font-size: 4vw;
  }

  .home-links {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  

}