.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  background-color: hsla(324, 0%, 100%, 1);
  background-image: radial-gradient(
      at 50% 0%,
      hsla(81, 100%, 68%, 0.15) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 100% 29%,
      hsla(237, 100%, 68%, 0.15) 0px,
      transparent 50%
    ),
    radial-gradient(at 0% 22%, hsla(285, 100%, 68%, 0.15) 0px, transparent 50%);
  text-align: center;
  justify-content: center;
  overflow: hidden !important;
}

.App-header {
  top: 0;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
}

.App-bg-effect {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/noise.png");
  margin: 0;
}

.App-main {
  margin: auto;
  border: solid 1px #a6a6a6;
  border-radius: 50px;
  z-index: 2;
  width: 95%;
  height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 !important;
}

.App-main::-webkit-scrollbar,
.main-content::-webkit-scrollbar {
  display: none;
}

.main-content {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App-main main {
  width: 100%;
  height: 100%;
}

.page-title {
  scroll-snap-align: start;
  width: 90%;
  height: 100%;
  margin: auto;
  margin-bottom: 200px;
  padding: 75px 50px;
  align-items: center;
  justify-content: center;
}

.page-title h1 {
  font-size: 11em;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.page-title p {
  font-size: 3em;
  text-align: left;
  margin: 0;
}

.page-title span {
  color: #5a8179;
  font-weight: bold;
  text-decoration: wavy underline;
  text-decoration-skip-ink: none;
  text-wrap: nowrap;
}
