body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Montserrat', sans-serif;
}

@font-face {
  font-family: 'Montserrat';
  src: url(./assets/fonts/Montserrat-VariableFont_wght.ttf);
}
